    <div class="release">
      <h3 class="subtitle-date text-center">Noviembre, 2017</h3>
      <div class="separator-container">
    		<div class="line-update">∎</div>
    	</div>
      <h3 class="subtitle-update">Titulo de la actualización: </h3>
      <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3 class="subtitle-update">Titulo de la actualización:</h3>
      <p class="text-content">Descripción de la actualización</p>
    </div>

    <div class="release">
      <h3 class="subtitle-date text-center">Noviembre, 2017</h3>
      <div class="separator-container">
    		<div class="line-update">∎</div>
    	</div>
      <h3 class="subtitle-update">Titulo de la actualización</h3>
      <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3 class="subtitle-update">Titulo de la actualización</h3>
      <p class="text-content">Descripción de la actualización</p>
    </div>

    <div class="release">
      <h3 class="subtitle-date text-center">Noviembre, 2017</h3>
      <div class="separator-container">
        <div class="line-update">∎</div>
      </div>
      <h3 class="subtitle-update">Titulo de la actualización</h3>
      <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3 class="subtitle-update">Titulo de la actualización</h3>
      <p class="text-content">Descripción de la actualización</p>
    </div>
