    <div>
      <div class="fondo-code">
        <img class="image-code" src="/images/icons/pregunta.png">
      </div>

      <div class="main-code text-center">
        <h1 class="title">
          404 Not Found
        </h1>
        <h2 class="subtitle">
          The page you were trying to reach doesn't exist.
        </h2>
      </div>

      <div class="logo text-center">
        <img src="/images/go&see.png">
      </div>
    </div>
