    <div>
      <div class="fondo-code">
        <img class="image-code" src="/images/icons/base-de-datos.png">
      </div>

      <div class="main-code text-center">
        <h1 class="title">
          500 Internal Server Error
        </h1>
        <h2 class="subtitle">
          Sorry, something went wrong. <br> A team of highly trained sea bass is working on this as we speak.
        </h2>
        <p>
          If the problem persists, please <a class="email-code" href="mailto://info@igoandsee.com">contact the system administrator</a> and inform them of the time that the error occured, and anything you might have done that may have caused the error.
        </p>
      </div>

      <div class="logo text-center">
        <img src="/images/go&see.png">
      </div>
    </div>
