<!-- Default home page -->
  <div class="row">
    <div class="item item-info text-center">
      <div class="content content-info">
        <img class="img-info" src="images/logo-suite.png">
        <p class="text-small">Descripción de actualizaciones, cambios y novedades en las aplicaciones de iGo&#38;Suite</p>
      </div>
    </div>
    <div class="item">
        <div>
          <h3 class="subtitle-date">Noviembre, 2017</h3>
          <hr>
          <div class="">
            <h3>Titulo de la actualización</h3>
            <p>Descripción de la actualización</p>
          </div>
          <div class="">
            <h3>Titulo de la actualización</h3>
            <p>Descripción de la actualización</p>
          </div>
        </div>
        <div>
          <h3 class="subtitle-date">Fecha de actualización</h3>
          <hr>
          <p>Descripción de la actualización</p>
        </div>
        <div>
          <h3 class="subtitle-date">Fecha de actualización</h3>
          <hr>
          <p>Descripción de la actualización</p>
        </div>
        <div>
          <h3 class="subtitle-date">Fecha de actualización</h3>
          <hr>
          <p>Descripción de la actualización</p>
        </div>
    </div>
  </div>
