<!-- Default home page -->
  <div class="row">
    <div class="item item-info text-center">
      <div class="content content-info">
        <img class="img-info" src="/images/logo-suite.png">
        <p class="text-small">Descripción de actualizaciones, cambios y novedades en las aplicaciones de iGo&#38;Suite</p>
      </div>
    </div>

    <div class="item tab-container">
      <div class="ui top attached tabular menu">
        <a class="item active" data-tab="first">iGo&#38;See Desktop</a>
        <a class="item" data-tab="second">iGo&#38;See Movil</a>
        <a class="item" data-tab="third">iGo&#38;Tag Movil</a>
      </div>
      <div class="ui bottom attached tab segment active" data-tab="first">
        <%- partial ('./releases/releaseiGoSeeDesktop.ejs', {commits : commitsGoAndSeeWeb}) %>
      </div>
      <div class="ui bottom attached tab segment" data-tab="second">
        <%- partial ('./releases/releaseiGoSeeDesktop.ejs', {commits : commitsGoAndSee}) %>
      </div>
      <div class="ui bottom attached tab segment" data-tab="third">
        <%- partial ('./releases/releaseiGoSeeDesktop.ejs', {commits : commitsGoAndTag}) %>
      </div>
    </div>
  </div>
