<!-- Default home page -->
  <div class="content">
    <div class="row">
      <div class="item text-center">
        <h1 class="title">iGo&#38;SuiteRelease</h1>
      </div>
      <div class="item">
        <p>Descripción de cambios y actualizaaciones en las aplicaciones de iGo&#38;Suite</p>
      </div>
    </div>

  </div>
