<!-- Default home page -->
  <div class="content">
    <div class="row">
      <div class="item text-center">
        <img src="images/go&see.png">
        <h1 class="title">iGo&#38;SuiteRelease</h1>
        <p class="text-small">Descripción de actualizaciones, cambios y novedades en las aplicaciones de iGo&#38;Suite</p>
      </div>
      <div class="item">
        <div>
          <h3 class="title-date">Fecha de actualización</h3>
          <hr>
          <p>Descripción de la actualización</p>
        </div>
        <div>
          <h3 class="title-date">Fecha de actualización</h3>
          <hr>
          <p>Descripción de la actualización</p>
        </div>
      </div>
    </div>

  </div>
