@import 'colors.less';

[class^='title'] {
  font-size: 2rem;
}
.text-center {
  text-align: center;
}
.title {
  color: @azulMarino;
}
.title-principal {
  color: #FFF;
}
.subtitle {
  color: @grisFuerte;
  font-size: 1.5em;
  font-weight: 300;
}
.subtitle-date,
.subtitle-update {
  margin-bottom: 0%;
}
.subtitle-date {
  color: @azulMarino;
}
.subtitle-update {
  color: @grisFuerte;
}
.text-small {
  color: @grisClaro;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: -0.02em;
}
.text-content {
  color: @grisSuave;
  font-size: .89em;
  margin-top: 1%;
  margin-bottom: 3%;
}
