@import 'colors.less';

.text-center {
  text-align: center;
}
.title {
  color: @azulMarino;
  font-size: 2rem;
}
.subtitle-update {
  margin-bottom: 0%;
  color: @grisSuave;
  font-size: 1.09rem;
  margin-top: 0!important;
}
.text-small {
  color: @grisBlanco;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: -0.02em;
}
