@import 'colors.less';
.text-center {
  text-align: center;
}
.title {
  font-size: 2rem;
  color: @azulMarino;
}
.text-small {
  color: @grisClaro;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: -0.02em;
}
