@import '../variables/colors.less';
@import '../variables/mixins.less';

html {
  height: 100%;
  line-height: 1.15;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  height: 100%;
  margin: 0px;
}
.row {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.content-info {
  margin: auto;
}
.item-info {
  display: flex;
  flex-direction: column;
  background-color: @azulMarino;
}
.item-dates {
  overflow-x: auto;
}
.img-info {
  width: 70%;
}
// TABS
.tab_container {
  width: 92%;
}
